.table > tbody > tr > td,
.table > tfoot > tr > td {
  vertical-align: middle;
}

.table {
  width: 100%;
}
.table > thead > tr {
  @for $i from 2 through 5 {
    th:nth-child(#{$i}) {
      width: 6rem;
      text-align: center;
    }
  }
}

.table tbody h5 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.actions {
  button {
    margin: 0.1rem;
  }
}

#tbl-mini-cart {
  max-height: 200px;
  overflow: hidden;
  input {
    text-align: center;
  }
  .prod-name {
    min-width: 7rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
}

.popover {
  max-width: 500px;
  .popover-inner .popover-body {
    width: 300px;
    max-height: 26rem;
    overflow: auto;
  }
}
