// $danger: #dc3545;
// $orange: #ff5733;
// $background-color: #fff;
// // $background-color: #f0ffffa6;

// #category-bar .nav {
//   max-height: 8.5rem;
//   overflow-y: scroll;
// }

// // Category filter bar
// #category-bar .nav .nav-item {
//   .nav-link {
//     color: #5733ff;
//     // background-color: #cafafaa6;
//     background-color: darken(#fff, 4%);
//     font-weight: 600;
//   }
//   .nav-link.active,
//   .nav-link.active:hover {
//     color: #fff;
//     // background-color: $orange;
//     background-color: #ff5733;
//   }
//   .nav-link:hover {
//     background-color: lightgrey;
//   }
//   &:nth-child(1) {
//     color: #000;
//     background-color: $background-color;
//   }
// }
